Dockerfile
docker-compose.yml

*/node_modules/
*.git/
*.pyc
*/__pycache__/
*/venv/
*/.idea/
.idea/
venv/
*/venv/
node_modules/
.env.dev
.env.prod
.env.prod.db
*/redis_data/

/lighthorizontal/dist/
/redis_data/
/robots/.vscode/
/celerybeat.pid
file.log
celerybeat.pid
neo4j