.idea/
venv/
*/node_modules/
*.git/
*.pyc
*/__pycache__/
*/venv/
*/.idea/
node_modules/
*/redis_data/

/lighthorizontal/dist/
/redis_data/
/robots/.vscode/
/celerybeat.pid
file.log
/neo4j/data/*
/neo4j/conf/*
/neo4j/logs/*
/neo4j/plugins/*
/redis-data/*
/redis.conf/*
/neo4j/import/*
